#https://github.com/github/gitignore/blob/master/Java.gitignore

*.class

# Package Files #
#*.jar
#*.war
#*.ear

#https://github.com/github/gitignore/blob/master/LaTeX.gitignore

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

#https://github.com/github/gitignore/blob/master/Maven.gitignore
target/

code/cloudcomputing/tweets.txt
code/cloudcomputing/seed.sql.gz
code/cloudcomputing-gae/src/main/webapp/tweets/*.txt.gz

code/cloudcomputing/src/main/resources/ec2.properties
